<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md">
        <img class="mb-2 mx-auto d-block" src="/images/patch_tiger.png" alt="" width="100" height="100">
        <small class="d-block mb-3 text-muted text-center">&copy; 2004–2024 Cellules Rapaces </br>
        par CoubyStark</small>
      </div>
      <div class="col-3 col-md">
        <h5>Les défis solos Rapaces</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://elodogfight.cellules-rapaces.fr">ELO Dogfight</a></li>
          <li><a class="link-secondary" href="https://tankerparty.cellules-rapaces.fr">Tanker Party</a></li>
          <li><a class="link-secondary" href="https://dagger-one.cellules-rapaces.fr/">Dagger One</a></li>
        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>A propos</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://www.cellules-rapaces.fr">Cellules Rapaces</a></li>
          <li><a class="link-secondary" href="#">Questions - réponses</a></li>
          <li><a class="link-secondary" href="/contact">Contact</a></li>
          <li><a class="link-secondary" href="/mentionslegales">Mentions légales</a></li>
        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>Medias</h5>
        <a href="https://discord.gg/52B4WasJfZ"><img class="rounded text-start" src="/images/Tigre_Discord.svg" alt="" width="60" height="60"></a>
        <a href="https://www.twitch.tv/coubystark"><img class="rounded text-start" src="/images/Tigre_Twitch.svg" alt="" width="60" height="60"></a>
        <a href="https://github.com/Cellules-Rapaces"><img class="rounded text-start" src="/images/Tigre_Github.svg" alt="" width="55" height="55"></a>
        <p class="text-end mb-1">
          <a href="#">Back to top</a>
        </p>
      </div>
    </div>
  </div>
</footer>
